@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.html {
  box-sizing: content-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cuatro columnas con igual ancho */
  gap: 20px; /* Espacio entre las cards */
}

.card {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: center;
}


#lista .list-group-item {
  padding: 15px 70px; /* Ajuste de padding para los <li> */
  font-size: 12px; /* Tamaño de fuente para los <li> */
}


#lista {
  font-size: 10px; /* Tamaño de fuente para los <span> con clase 'badge' */
  padding: 20px;

}

h1 {
    font-weight: 700;
    text-align: center;
}
.team-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    width: calc(50% - 20px);
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-container a {
    color: #000;
    text-decoration: none;
}
.team-container a:hover {
    color: blue;
    text-decoration: underline;
}
.team-name {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.team-image {
    width: 100%;
    max-width: 150px;
    display: block;
    margin: 0 auto 10px;
}
.team-info {
    text-align: center;
    margin-bottom: 0;
}
